# Database
POSTGRES_USER=servpulse
POSTGRES_PASSWORD=changeme
POSTGRES_DB=servpulse
POSTGRES_CONNECTION_STRING=postgresql://servpulse:changeme@db:5432/servpulse

# Backend
EXPRESS_PORT=3000

# Frontend
VITE_API_URL=http://localhost:3000/api
